# Dépôts externes clonés pour référence
Open-Canopy/

# Données
data/
*.tif
*.tiff
*.jp2

# Sorties
outputs/

# Python / conda
__pycache__/
*.pyc
*.ckpt

# R
.Rhistory
.Rdata
.RData
.Rproj.user/
*.Rproj

# Environnement
.env
.Renviron
.Rprofile

# OS
.DS_Store
Thumbs.db
